<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- jQuery 3.7.1 -->
    <script src="~/lib/vendor/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap" />
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/aos/aos.css" />
    <link rel="stylesheet" href="~/assets/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
    <script src="/dist/js/orgchart/orgchart.js"></script>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="~/lib/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap 5 JS -->
    <script src="~/lib/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/vendor/bootstrap4-toggle/css/bootstrap4-toggle.min.css" />
</head>
<body class="@ViewBag.BodyClass" style="height:calc(100vh - 140px);">
    <header>
        <nav class="navbar navbar-light navbar-expand-md border-bottom box-shadow mb-3 fixed-top bg-white">
            <div class="container-fluid">
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="sr-only">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.Shared.BtnToogleNavigation, "Toggle navigation") ?? "Toggle navigation")</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.Shared.NavHomeTitle, "Home") ?? "Home")</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.Shared.NavSettingsTitle, "Settings") ?? "Settings")</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-controller="UserPermission" asp-action="Index">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.Shared.NavUsersTitle, "Users") ?? "Users")</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.Shared.NavLogoffTitle, "logoff") ?? "logoff")</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="margin-top:80px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top fixed-bottom text-muted bg-white" style="height:40px;">
        <div class="container bg-white" style="line-height:38px;">
            &copy; 2020 - EZ Factory - <a href="https://ezfactory.nl/en/privacy-statement/" asp-area="" asp-controller="Home" asp-action="Privacy">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.FrameWork.PrivacyTitle, "Privacy") ?? "Privacy")</a> - <a href="https://docs.ezfactory.nl" target="_blank">@(((BaseViewModel)Model)?.CmsLanguage?.GetValue(LanguageKeys.FrameWork.DocumentationTitle, "Documentation") ?? "Documentation")</a>
        </div>
    </footer>
    <script src="/libs/aos/aos.js"></script>
    <script src="/assets/js/script.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
<!-- !!! -->