@using EZGO.Maui.Core.Models.Checklists;
@using EZGO.Maui.Core.Classes;
@using System.Linq;
@using EZGO.Api.Models.Basic;
@using EZGO.Maui.Core.Models
@using EZGO.Maui.Core.Models.Actions;
@using EZGO.Maui.Core.Utils;
@using EZGO.Api.Models;
@using EZGO.Maui.Core.PdfTemplates;
@using EZGO.Maui.Core.Extensions;
@model ChecklistModel

@{
    void GetIconAndColor(string Status, out string icon, out string color)
    {
        switch (Status.ToLower())
        {
            case "ok":
                icon = "thumb_up";
                color = "ok";
                break;

            case "skipped":
                icon = "fast_forward";
                color = "skip";
                break;
            default:
                icon = "thumb_down";
                color = "not-ok";
                break;
        }
    }

    var dir = Settings.IsRightToLeftLanguage ? "rtl" : "ltr";

    string GetTagBackgroundColor(string colorCode)
    {
        var color = "#D3D3D3";
        if (!colorCode.IsNullOrEmpty())
        {
            if (colorCode.StartsWith("#"))
                color = colorCode;
            else
                color = "#" + colorCode;
        }
        return color;
    }

    string GetIconClass(string iconStyle)
    {
        if (iconStyle == "solid")
            return "iconSolidPro";

        return "iconRegularPro";
    }
    string GetStageClass(bool isHeaderVisible)
    {
        if (isHeaderVisible)
            return "stage";

        return "";
    }
}
<!DOCTYPE html>
<html lang="en" dir="@dir">
<head>
    <meta charset="UTF-8" />
    <!-- Gotta love HTML -->
    <style type="text/css" media="print">
        @@page {
            size: auto; /* auto is the initial value */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        * {
            -webkit-print-color-adjust: exact !important; /* needed for fixing issues with colors on ios */
        }

        html {
            background-color: #FFFFFF;
            margin: 0px; /* this affects the margin on the html before sending to printer */
        }

        body {
            margin: 0mm; /* margin you want for the content */
        }
    </style>
    <style type="text/css">
        @@font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(@FileHelper.GetAssetsPath("MaterialIcons-Regular.ttf"));
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }

        body > *:not(table) {
            margin-left: 40px;
            margin-right: 40px;
        }

        @@font-face {
            font-family: Roboto-Regular;
            src: url(@FileHelper.GetAssetsPath("Roboto-Regular.ttf"));
        }

        @@font-face {
            font-family: Roboto-Regular;
            src: url(@FileHelper.GetAssetsPath("Roboto-Bold.ttf"));
            font-weight: bold;
        }

        @@font-face {
            font-family: Font-Awesome-Regular;
            font-style: normal;
            font-weight: 400;
            src: url(@FileHelper.GetAssetsPath("Font Awesome 6 Free-Regular-400.otf"));
        }

        @@font-face {
            font-family: Font-Awesome-Solid;
            font-style: normal;
            font-weight: 900;
            src: url(@FileHelper.GetAssetsPath("Font Awesome 6 Free-Solid-900.otf"));
        }

        @@font-face {
            font-family: FAS;
            font-style: normal;
            font-weight: 900;
            src: url(@FileHelper.GetAssetsPath("fa_pro_solid_900.otf"))
        }

        @@font-face {
            font-family: FAR;
            font-style: normal;
            font-weight: 400;
            src: url(@FileHelper.GetAssetsPath("fa_pro_regular_400.otf"))
        }

        .tagIcon {
            font-style: normal;
            overflow: hidden;
            white-space: nowrap;
            width: 35px;
            padding: 3px 6px;
        }

        .iconSolid {
            font-family: Font-Awesome-Solid;
        }

        .iconRegular {
            font-family: Font-Awesome-Regular;
        }

        .iconSolidPro{
            font-family: FAS
        }

        .iconRegularPro {
            font-family: FAR
        }

        html, body {
            font-family: Roboto-Regular;
            height: auto;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
        }

        .no-padding {
            padding: 0px !important;
        }

        table {
            border-spacing: 0;
            table-layout: auto;
        }

        td {
            padding: 0px 5px;
            font-size: 12px;
        }

        .id {
            padding-left: 0 10px 0 10px;
        }

        .status-icon-box {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .camera-icon-box-small {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            position: relative;
            left: 30px;
            top: -14px;
            border: 1px solid;
            border-color: white;
        }

        .ok {
            background-color: #1ed760;
        }

        .not-ok {
            background-color: red;
        }

        .skip {
            background-color: #EB7D16;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }

        p {
            margin: 5px;
        }

        hr {
            height: 2px;
            background-color: #ccc;
            border: 0px;
        }

        tr {
            padding-right: 5px;
        }

        th span {
            font-size: 10px;
        }

        .page-title {
            color: #A9A9A9;
            font-size: 10px;
        }

        .stripe {
            background-color: #eee;
        }

        .action-pictures-box img {
            margin-right: .5em;
            margin-top: .5em;
        }

        .action-pictures-box {
            display: flex;
            flex-flow: row wrap;
            justify-items: flex-start;
            align-items: center;
            background: #eee;
            height: 120px;
        }

        .grid-container {
            display: flex;
        }

        .grid-item {
            padding-left: 10px;
        }

        img {
            object-fit: cover;
        }

        .value-item {
            padding-left: 10px;
        }

        .value-style {
            display: flex;
            align-items: center;
            word-wrap: break-word;
            background: white;
            height: 30px;
        }

        .bold {
            font-weight: bold;
        }

        .wrap-content {
            word-break: break-all;
            width: 100%;
        }

        .header-content {
            display: inline flex;
        }

        .tagsList {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .tagItem {
            background-color: inherit;
            display: inline-flex;
            align-items: center;
            padding: 3px 7px;
            color: white;
        }

        .stageHeader {
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: start;
            color: white;
            background-color: #1ED760;
        }

        .stage {
            border: 2px solid #1ED760;
        }

        span.text {
            font-size: 8px;
            padding-right: 10px;
        }

        img.icon {
            width: 15px;
            height: 15px;
            padding-right: 5px;
        }

        .openfieldstext  {
            color: #8E8E8E;
        }

        .propertytext {
            color: #8E8E8E;
        }

        .open-fields-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .open-field-item {
            width: 48%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div>
        <h2 class="wrap-content">@Model.Name</h2>

        <div class="header-content">
            <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_DATE_AND_TIME")):</strong> @(Model.LocalSignedAt.ToString(PdfConstants.GetDateTimeFormat(), null))</p>
            <p>
                <strong>@(TranslateExtension.GetValueFromDictionary("SIGNED_CHECHLIST_COMPLETED_BY"))</strong>
                @Model.FirstSignature.SignedBy
                @if (Model.SecondSignature != null)
                {
                    @Model.SecondSignature.SignedBy
                }
            </p>
        </div>

        @if (Model.Tags != null && Model.Tags.Any())
        {
            <p class="wrap-content">
                <tr>
                    <td class="no-padding"></td>
                    <td class="no-padding">
                        <div class="tagsList">
                            @foreach (var tag in Model.Tags)
                            {
                                var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                <div class="tagItem" style="background-color: @backgroundColor;">
                                    @if (!tag.IconName.IsNullOrEmpty())
                                    {
                                        <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                    }
                                    <span class="text">@tag.Name</span>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </p>
        }
    </div>
    @if (Model.OpenFieldsProperties != null && Model.OpenFieldsProperties.Count() > 0)
    {
        <strong>@(TranslateExtension.GetValueFromDictionary("OPEN_FIELDS"))</strong>

        <div class="open-fields-container">
            @for (int openFieldIndex = 0; openFieldIndex < Model.OpenFieldsPropertyUserValues.Count(); openFieldIndex++)
            {
                var property = Model.OpenFieldsProperties[openFieldIndex];
                var title = property.TitleDisplay;
                var isRequired = property.IsRequired;
                var fieldValue = Model.OpenFieldsPropertyUserValues[openFieldIndex].GetFieldValue();
                fieldValue ??= string.Empty;

                <div class="open-field-item">
                    <p class="wrap-content">
                        @if (isRequired)
                        {
                            <span style="color:red">*</span>
                        }
                        @title: <span class="openfieldstext">@fieldValue</span>
                    </p>
                </div>
            }
        </div>
    }


    <hr />
    @{ var i = 0; }
    @if (!Model.HasStages && Model.Tasks != null && Model.Tasks.Count() > 0)
    {
        foreach (var task in Model.Tasks)
        {
            <div style="page-break-before: avoid;">
                @{
                    var imageUrl = @ImageHelpers.GetFullImageUrlFromName(task.Picture);
                    GetIconAndColor(task.Status, out var icon, out var colorClass);
                }
                <h3>@(i + 1) @task.Name</h3>

                <div style="display: flex; align-items: center;">
                    <div style="flex-grow: 1; display: flex; align-items: center;">
                        <img alt="placeholder" src="@imageUrl" style="width: 144px; height: 96px; margin-right: 10px;" />
                        <div style="justify-content: center; display: flex; flex-direction: column;">
                            @if (task.Signature != null)
                            {
                                <p style="font-size: 12px">
                                    <strong>@(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED")) @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_ONTASK_DETAIL_MARKED_ON"))</strong> @(task.LocalSignedAt.ToString(PdfConstants.GetDateTimeFormat(), null)) by @(task.Signature.SignedBy)
                                </p>
                            }

                            @if (task.Tags != null && task.Tags.Any())
                            {
                                <div class="tagsList" style="margin-top: 5px;">
                                    @foreach (var tag in task.Tags)
                                    {
                                        var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                        <div class="tagItem" style="background-color: @backgroundColor;">
                                            @if (!tag.IconName.IsNullOrEmpty())
                                            {
                                                <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                            }
                                            <span class="text">@tag.Name</span>
                                        </div>
                                    }
                                </div>

                            }
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center; margin-left: auto; position: relative;">
                        @if (task.HasCommentsOrActions)
                        {
                            <div class="status-icon-box skip" style="margin-right: 5px;">
                                <i class="material-icons" style="text-align: center; font-size: 15px;">flash_on</i>
                            </div>
                        }
                        @if (task.HasPictureProof)
                        {
                            <div class="camera-icon-box-small @colorClass">
                                <i class="material-icons" style="text-align: center; font-size: 8px;">photo_camera</i>
                            </div>
                        }
                        <div class="status-icon-box @colorClass">
                            <i class="material-icons" style="text-align: center; font-size: 15px;">@icon</i>
                        </div>
                    </div>
                </div>

                @if (task.UserPropertyList != null && task.UserPropertyList.Any())
                {
                    <div>
                        @foreach (var property in task.UserPropertyList)
                        {
                            <p class="propertytext" style="font-size: 12px"><strong>@property.DisplayTitleString</strong>: @property.GetUserValueString() @property.DisplayFooterString @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_ON")) @((property.LocalRegisteredAt ?? property.LocalModifiedAt).ToString(PdfConstants.GetDateTimeFormat(), null)) @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_BY")) @property.ModifiedBy</p>
                        }
                    </div>
                }

                @if (task.PictureProofMediaItems != null && task.PictureProofMediaItems.Any())
                {
                    <div>
                        @foreach (var pictureProof in task.PictureProofMediaItems)
                        {
                            <div style="display: inline-flex">
                                <div class="status-icon-box @colorClass" style="display: flex; align-items: center;">
                                    <i class="material-icons" style="font-size: 15px">photo_camera</i>
                                </div>
                                <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong> @(pictureProof.CreatedAt.ToString(PdfConstants.GetDateTimeFormat(), null))</p>
                                @{
                                    var pictureSrc = ImageHelpers.GetFullImageUrlFromName(pictureProof.PictureUrl);
                                    <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                                }
                            </div>
                        }
                    </div>
                    @*<div class="status-icon-box @colorClass"
                             style="display: flex; align-items: center; margin-right: auto; margin-top: 10px">
                            <i class="material-icons" style="font-size: 15px">photo_camera</i>
                        </div>
                        <div style="display: flex; flex-wrap:wrap; justify-content: start; margin-top: 10px">
                            @foreach (var pictureProof in task.PictureProofMediaItems)
                            {
                                var pictureSrc = ImageHelpers.GetFullImageUrlFromName(pictureProof.PictureUrl);
                                <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                            }
                        </div>*@
                }

                @if (task.Actions != null && task.Actions.Any())
                {
                    <h3>@(TranslateExtension.GetValueFromDictionary("ACTION_SCREEN_TITLE"))</h3>
                    foreach (var action in task.Actions)
                    {
                        <div style="page-break-inside: avoid">

                            <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_SCREEN_TITLE")):</strong> @action.Comment</p>

                            <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT")):</strong> @action.Description</p>

                            <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_RESOURCES_EDITED")):</strong> @action.AssignedResources</p>

                            <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong> @(action.LocalCreatedAt.ToString(PdfConstants.GetDateTimeFormat(), null))</p>

                            <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_DATE_EDITED")):</strong> @(action.LocalDueDate.ToString(PdfConstants.GetDateTimeFormat(), null))</p>

                            @if (action.Tags != null && action.Tags.Any())
                            {
                                <div class="tagsList" style="margin-top: 5px;">
                                    @foreach (var tag in action.Tags)
                                    {
                                        var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                        <div class="tagItem" style="background-color: @backgroundColor;">
                                            @if (!tag.IconName.IsNullOrEmpty())
                                            {
                                                <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                            }
                                            <span class="text">@tag.Name</span>
                                        </div>
                                    }
                                </div>

                            }

                            @if (action.Images != null && action.Images.Any())
                            {
                                <div style="display: flex; flex-wrap: wrap; justify-content: start; margin-top: 10px">
                                    @foreach (var image in action.Images)
                                    {
                                        var pictureSrc = ImageHelpers.GetFullImageUrlFromName(image);
                                        <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                                    }
                                </div>
                            }
                        </div>

                    }
                }

                @if (task.Comments != null && task.Comments.Any())
                {
                    <h3>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT"))</h3>
                    foreach (var comment in task.Comments)
                    {
                        <div style="page-break-inside: avoid">


                            <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT")):</strong> @comment.CommentText</p>
                            <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong> @comment.CommentDate</p>

                        </div>
                        if (comment.Tags != null && comment.Tags.Any())
                        {
                            <div class="tagsList" style="margin-top: 5px;">
                                @foreach (var tag in comment.Tags)
                                {
                                    var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                    <div class="tagItem" style="background-color: @backgroundColor;">
                                        @if (!tag.IconName.IsNullOrEmpty())
                                        {
                                            <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                        }
                                        <span class="text">@tag.Name</span>
                                    </div>
                                }
                            </div>

                        }

                        if (comment.Attachments != null && comment.Attachments.Any())
                        {
                            <div style="display: flex; flex-wrap:wrap; justify-content: start; margin-top: 10px">
                                @foreach (var image in comment.Attachments)
                                {
                                    var pictureSrc = ImageHelpers.GetFullImageUrlFromName(image);
                                    <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                                }
                            </div>
                        }

                    }
                }


            </div>
            <hr />
            i++;
        }
    }
    else if (Model.Stages != null && Model.Stages.Count() > 0)
    {
        foreach (var stage in Model.Stages)
        {
            <div class="@GetStageClass(stage.IsHeaderVisible)">
                @if (stage.IsHeaderVisible)
                {
                    <div class="stageHeader" style="width: 100%;">
                        <i class="tagIcon iconSolidPro" style="font-size: 20px">signature</i>
                        <span class="text" style="font-size: 20px">@stage.Name</span>
                    </div>

                    if (stage.Tags != null && stage.Tags.Count() > 0)
                    {
                        <div class="tagsList" style="margin: 5px;">

                            @foreach (var tag in stage.Tags)
                            {
                                var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                <div class="tagItem" style="background-color: @backgroundColor;">
                                    @if (!tag.IconName.IsNullOrEmpty())
                                    {
                                        <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                    }
                                    <span class="text">@tag.Name</span>
                                </div>
                            }
                        </div>
                    }
                }
                @if (stage.Tasks != null && stage.Tasks.Count() > 0)
                {

                    foreach (var task in stage.Tasks)
                    {
                        <div style="padding: 10px">
                            @{
                                var imageUrl = @ImageHelpers.GetFullImageUrlFromName(task.Picture);
                                GetIconAndColor(task.Status, out var icon, out var colorClass);
                            }
                            <h3>@(i + 1) @task.Name</h3>

                            <div style="display: flex; align-items: center;">
                                <div style="flex-grow: 1; display: flex; align-items: center;">
                                    <img alt="placeholder" src="@imageUrl" style="width: 130px; height: 90px; margin-right: 10px;" />
                                    <div style="justify-content: center; display: flex; flex-direction: column;">
                                        @if (task.Signature != null)
                                        {
                                            <p style="font-size: 12px">
                                                <strong>Marked on</strong> @(task.LocalSignedAt.ToString(PdfConstants.GetDateTimeFormat(), null)) by @(task.Signature.SignedBy)
                                            </p>
                                        }

                                        @if (task.Tags != null && task.Tags.Any())
                                        {
                                            <div class="tagsList" style="margin-top: 5px;">
                                                @foreach (var tag in task.Tags)
                                                {
                                                    var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                                    <div class="tagItem" style="background-color: @backgroundColor;">
                                                        @if (!tag.IconName.IsNullOrEmpty())
                                                        {
                                                            <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                                        }
                                                        <span class="text">@tag.Name</span>
                                                    </div>
                                                }
                                            </div>

                                        }
                                    </div>
                                </div>

                                <div style="display: flex; flex-direction: row; align-items: center; margin-left: auto; position: relative;">
                                    @if (task.HasCommentsOrActions)
                                    {
                                        <div class="status-icon-box skip" style="margin-right: 5px;">
                                            <i class="material-icons" style="text-align: center; font-size: 15px;">flash_on</i>
                                        </div>
                                    }
                                    @if (task.HasPictureProof)
                                    {
                                        <div class="camera-icon-box-small @colorClass">
                                            <i class="material-icons" style="text-align: center; font-size: 8px;">photo_camera</i>
                                        </div>
                                    }
                                    <div class="status-icon-box @colorClass">
                                        <i class="material-icons" style="text-align: center; font-size: 15px;">@icon</i>
                                    </div>
                                </div>
                            </div>

                            @if (task.UserPropertyList != null && task.UserPropertyList.Any())
                            {
                                <div>
                                    @foreach (var property in task.UserPropertyList)
                                    {
                                        <p class="propertytext" style="font-size: 12px"><strong>@property.DisplayTitleString</strong>: @property.GetUserValueString() @property.DisplayFooterString @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_ON")) @((property.LocalRegisteredAt ?? property.LocalModifiedAt).ToString(PdfConstants.GetDateTimeFormat(), null)) @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_BY")) @property.ModifiedBy</p>
                                    }
                                </div>
                            }

                            @if (task.PictureProofMediaItems != null && task.PictureProofMediaItems.Any())
                            {
                                <div>
                                    @foreach (var pictureProof in task.PictureProofMediaItems)
                                    {
                                        <div style="display: flex; align-items: center; width: 100%; padding: 10px;">
                                            <div class="status-icon-box @colorClass" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px;">
                                                <i class="material-icons" style="font-size: 15px;">photo_camera</i>
                                            </div>
                                            <p style="margin: 0 10px; flex: 1;">
                                                <strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong>
                                                @(pictureProof.CreatedAt.ToString(PdfConstants.GetDateTimeFormat(), null))
                                            </p>
                                            @{
                                                var pictureSrc = ImageHelpers.GetFullImageUrlFromName(pictureProof.PictureUrl);
                                            }
                                            <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin-right: 20px; object-fit: cover;" />
                                        </div>
                                    }
                                </div>

                            }

                            @if (task.Actions != null && task.Actions.Any())
                            {
                                <h3>@(TranslateExtension.GetValueFromDictionary("ACTION_SCREEN_TITLE"))</h3>
                                foreach (var action in task.Actions)
                                {
                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_SCREEN_TITLE")):</strong> @action.Comment</p>

                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT")):</strong> @action.Description</p>

                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_RESOURCES_EDITED")):</strong> @action.AssignedResources</p>

                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong> @(action.LocalCreatedAt.ToString(PdfConstants.GetDateTimeFormat(), null)) @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_BY")) @action.CreatedBy</p>

                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("ACTION_DATE_EDITED")):</strong> @(action.LocalDueDate.ToString(PdfConstants.GetDateFormat(), null))</p>

                                    if (action.Tags != null && action.Tags.Any())
                                    {
                                        <div class="tagsList" style="margin-top: 5px;">
                                            @foreach (var tag in action.Tags)
                                            {
                                                var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                                <div class="tagItem" style="background-color: @backgroundColor;">
                                                    @if (!tag.IconName.IsNullOrEmpty())
                                                    {
                                                        <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                                    }
                                                    <span class="text">@tag.Name</span>
                                                </div>
                                            }
                                        </div>

                                    }

                                    if (action.Images != null && action.Images.Any())
                                    {
                                        <div style="display: flex; flex-wrap:wrap; justify-content: start; margin-top: 10px">
                                            @foreach (var image in action.Images)
                                            {
                                                var pictureSrc = ImageHelpers.GetFullImageUrlFromName(image);
                                                <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                                            }
                                        </div>
                                    }

                                }
                            }

                            @if (task.Comments != null && task.Comments.Any())
                            {
                                <h3>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT"))</h3>
                                foreach (var comment in task.Comments)
                                {
                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_COMMENT")):</strong> @comment.CommentText</p>
                                    <p><strong>@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_CREATED")):</strong> @comment.CommentDate @(TranslateExtension.GetValueFromDictionary("TASK_DETAIL_MARKED_BY")) @comment.CreatedBy</p>

                                    if (comment.Tags != null && comment.Tags.Any())
                                    {
                                        <div class="tagsList" style="margin-top: 5px;">
                                            @foreach (var tag in comment.Tags)
                                            {
                                                var backgroundColor = GetTagBackgroundColor(tag.ColorCode);
                                                <div class="tagItem" style="background-color: @backgroundColor;">
                                                    @if (!tag.IconName.IsNullOrEmpty())
                                                    {
                                                        <i class="tagIcon @GetIconClass(tag.IconStyle)">@tag.IconName</i>
                                                    }
                                                    <span class="text">@tag.Name</span>
                                                </div>
                                            }
                                        </div>

                                    }

                                    if (comment.Attachments != null && comment.Attachments.Any())
                                    {
                                        <div style="display: flex; flex-wrap:wrap; justify-content: start; margin-top: 10px">
                                            @foreach (var image in comment.Attachments)
                                            {
                                                var pictureSrc = ImageHelpers.GetFullImageUrlFromName(image);
                                                <img alt="placeholder" src="@pictureSrc" style="height: 96px; margin: 10px;" />
                                            }
                                        </div>
                                    }

                                }
                            }


                        </div>
                        <hr />
                        i++;
                    }
                }


                @if (!stage.ShiftNotes.IsNullOrWhiteSpace())
                {

                    <div style="display: flex; justify-content: flex-end; align-items: center;">
                        <i class="iconSolidPro tagIcon" style="color: #1ED760; font-size: 20px;">calendar-lines-pen</i>
                    </div>

                    <p style="margin: 10px;">@stage.ShiftNotes</p>
                }

                <div style="width: 100%; padding: 20px; display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
                    @foreach (var signature in (stage.SignaturesList ?? new List<SignatureModel>()))
                    {
                        if (!string.IsNullOrEmpty(signature.SignatureImage))
                        {
                            var signatureUrl = @ImageHelpers.GetFullImageUrlFromName(signature.SignatureImage);
                            <div style="text-align: center; flex: 0 1 auto;">
                                <img alt="afbeelding" src="@signatureUrl" height="100" style="display: block; margin: auto;" />
                                <p style="text-align: center; margin-top: 10px;">
                                    @signature.SignedBy
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }

    <div style="page-break-inside: avoid; page-break-after: avoid">

        <h3>@(TranslateExtension.GetValueFromDictionary("SIGNATURE"))</h3>
        <p class="propertytext">@(TranslateExtension.GetValueFromDictionary("GENERATE_PDF_DATE_AND_TIME")): @(Model.LocalSignedAt.ToString(PdfConstants.GetDateTimeFormat(), null)), @(TranslateExtension.GetValueFromDictionary("SIGNED_CHECHLIST_COMPLETED_BY")) @Model.SignatureString</p>

        <div style="width: 100%; padding: 20px; display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
            @foreach (var signature in (Model.Signatures ?? new List<SignatureModel>()))
            {
                if (!string.IsNullOrEmpty(signature.SignatureImage))
                {
                    var signatureUrl = @ImageHelpers.GetFullImageUrlFromName(signature.SignatureImage);
                    <div style="text-align: center; flex: 0 1 auto;">
                        <img alt="afbeelding" src="@signatureUrl" height="100" style="display: block; margin: auto;" />
                        <p style="text-align: center; margin-top: 10px;">
                            @signature.SignedBy
                        </p>
                    </div>
                }
            }
        </div>

    </div>
</body>
</html>